main .hero {
      height: 20rem;
      background: var(--secondary-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 4rem;
      padding: 1rem 5rem;
}

main .hero h2 {
      text-align: center;
}

main .hero nav ul {
      display: flex;
      gap: 1rem;
}