main .hero {
      height: 20rem;
      background: var(--secondary-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 4rem;
      padding: 1rem 5rem;
}

main .hero h2 {
      text-align: center;
}

main .hero nav ul {
      display: flex;
      gap: 1rem;
}

main .philosophy {
      padding: 1rem 5rem;
}

main .philosophy .card {
      padding: 3rem;
      border: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;
      gap: 1rem;
}

main .philosophy .card .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
}

main .philosophy .card .top div {
      width: 5rem;
      height: 3px;
      background: var(--primary-color);
}

main .section {
      padding: 1rem 5rem;
      display: flex;
      flex-direction: column;
}

main .section .top .line {
      width: 10rem;
      height: 3px;
      background: var(--primary-color);
}

main .section .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      justify-content: center;
      padding: 3rem;
}

main .section .bottom p {
      font-size: 1.3rem;
}

main .section .bottom .right img {
      object-fit: cover;
      width: 100%;
      border-radius: 2rem;
}