@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: "Saira Semi Condensed", sans-serif;
      text-transform: uppercase;
}

header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.logo {
      width: 250px;
}

.logo img {
      width: 100%;
      object-fit: cover;
}

nav ul {
      display: flex;
      align-items: center;
      gap: 25px;
      list-style-type: none;
}

nav a {
      text-decoration: none;
      font-size: 1.5rem;
}