h1 {
      font-size: 3.5rem;
      color: var(--heading-color);
      text-transform: uppercase;
}
h2 {
      font-size: 3rem;
      color: var(--heading-color);
}

h3 {
      font-size: 2.5rem;
      color: var(--heading-color);
}

h4 {
      font-size: 2rem;
      color: var(--heading-color);
}

h5 {
      font-size: 1.5rem;
      color: var(--heading-color);
}

h6 {
      font-size: 1rem;
      color: var(--heading-color);
}

p {
      font-size: 1rem;
}

a {
      font-size: 1rem;
      color: var(--primary-color);
      text-decoration: none;
}

a:hover {
      color: var(--hover-color);
}