h1 {
      font-size: 3rem;
      color: var(--heading-color);
      text-transform: uppercase;
}

h4 {
      font-size: 1.5rem;
      color: var(--heading-color);
}

p {
      font-size: 1rem;
}

a {
      font-size: 1rem;
      color: var(--primary-color);
      text-decoration: none;
}

a:hover {
      color: var(--hover-color);
}