html {
      font-family: 'Saira Semi Condensed', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: var(--text-color);  
}

h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 1rem;
}

h1 { 
      font-size: 2.5rem; 
}

h2 { 
      font-size: 2rem; 
}

h3 { 
      font-size: 1.75rem; 
}

h4 { 
      font-size: 1.5rem; 
}

h5 { 
      font-size: 1.25rem; 
}

h6 { 
      font-size: 1rem; 
}

p {
      margin-bottom: 1rem;
      font-size: 1rem;
}

a {
      color: var(--primary-color);
      text-decoration: none;
}

a:hover {
      background: var(--hover-color);
}