.btn {
      padding: 0.5rem 1rem;
      background: var(--primary-color);
      color: var(--btn-text-color);
      border-radius: var(--border-radius);
}

.btn:hover {
      background: var(--hover-color);
}

.sc-btn {
      padding: 0.5rem 1rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: var(--border-radius);
      color: var(--primary-color);
}

.sc-btn:hover {
      color: var(--hover-color);
}