@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');
@import url('/wp-content/themes/my-theme/assets/css/base/reset.css');
@import url('/wp-content/themes/my-theme/assets/css/base/typography.css');
@import url('/wp-content/themes/my-theme/assets/css/components/buttons.css');
@import url('/wp-content/themes/my-theme/assets/css/components/cards.css');
@import url('/wp-content/themes/my-theme/assets/css/components/forms.css');
@import url('/wp-content/themes/my-theme/assets/css/layout/footer.css');
@import url('/wp-content/themes/my-theme/assets/css/layout/grid.css');
@import url('/wp-content/themes/my-theme/assets/css/layout/header.css');
@import url('/wp-content/themes/my-theme/assets/css/pages/about.css');
@import url('/wp-content/themes/my-theme/assets/css/pages/doctors.css');
@import url('/wp-content/themes/my-theme/assets/css/pages/home.css');
@import url('/wp-content/themes/my-theme/assets/css/pages/philosophy-strength.css');
@import url('/wp-content/themes/my-theme/assets/css/pages/schedule.css');
@import url('/wp-content/themes/my-theme/assets/css/reponsive.css');



:root {

      /* main */
      --primary-color: #D66A30;
      --secondary-color: #fff7e8;

      /* background */
      --bg-color: #ffffff;

      /* text */
      --text-color: #A4A4A4;
      --heading-color: #81c44d;
      --btn-text-color: #ffffff;

      /* border */
      --border-color: #545454;

      /* status */
      --success-color: #51BF00;
      --error-color: #9F0404;

      /* font */
      --font-main: "Saira Semi Condensed", sans-serif;

      /* hover */
      --hover-color: #b13e00;

      /* radius */
      --border-radius: 1000px;
}



body {

      font-family: var(--font-main);
      color: var(--text-color);
      background: var(--bg-color);
}