header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5rem;
      background: var(--bg-color);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      border: 1px solid var(--border-color);
}

header .logo {
      width: 250px;
}

header .logo img {
      object-fit: cover;
      width: 90%;
}

header nav {
      display: flex;
      gap: 3rem;
      align-items: center;
}

header nav .reservation-btn {
      color: var(--btn-text-color);
      background: var(--primary-color);
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
}

header nav .reservation-btn:hover {
      background: var(--hover-color);
}

header nav ul {
      display: flex;
      gap: 2rem;
}

header nav ul li a {
      color: var(--primary-color);
      transition: 0.2s ease-out;
}

header nav ul li a:hover {
      color: var(--hover-color);
}

header nav ul .dropdown {
      position: relative;
}

header nav ul .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      min-width: 25rem;
      display: none;
}

header nav ul .dropdown-menu li a {
      
}

header nav ul .dropdown:hover .dropdown-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
}